.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
  }
  
.tap-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin: 20px;
  }
  
  .tap-button img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px; 
  }
  
  .tap-button:hover {
    transform: scale(1.05); 
  }
  
  .tap-button:active {
    transform: scale(0.95); 
  }
  
.coin-balance-container {
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
    background: linear-gradient(145deg, #f2f2f2, #e0e0e0);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  .coin-balance {
    font-size: 1.3rem;
    font-weight: bold;
    color: #2c3e50;
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  
  
  .coin-icon {
    font-size: 1.5rem; 
    margin-right: 8px; 
  }
  
  
  .max-coins {
    font-size: 1rem; 
    color: #2c3e50;
    margin-top: 5px;
  }

  .cont-box{
    display: flex;
    gap: 2rem;

  }
  
.progress-bar {
    width: 23rem;
    height: 25px; 
    background-color: #e0e0e0;
    border-radius: 15px; 
    overflow: hidden;
    margin-top: 2px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    border: 2px solid #d4d4d4; 
    position: relative; 
  }
  
  
  .progress-bar-fill {
    height: 100%;
    background: radial-gradient(circle, #337ef7, #a8109681);
    width: 0; 
    transition: width 0.5s ease-in-out;
    border-radius: 15px; 
    background-size: 200% 100%; 
    animation: progress-animation 1.5s infinite linear;
    position: relative;

  }
  .progress-bar-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    padding: 0 10px;
    text-wrap: nowrap;
  }

  .loader {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
  }
  
  
  
  @keyframes progress-animation {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 200% 0%;
    }
  }
  
  